.popup {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(36,36,42,.4);
   justify-content: center;
   align-items: center;
   transform: scale(1);
   z-index: 999;
   display: none;
   .popup__body {
      position: relative;
      width: 100%;
      max-width: 704px;
      max-height: 94%;
      padding-bottom: 24px;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0px 8px 32px rgba(5,41,72,.05);
      opacity: 0;
      transform: scale(.9);
      transition: .4s;
   }
   &.popup--open {
      display: flex;
      .popup__body {
         opacity: 1;
         transform: scale(1);
         transition: .4s;
      }
   }
   &__title-box {
      padding: 23px 32px 5px;
      border-bottom: 1px solid #D1DCE6;
      @media(max-width: 550px){
         & {padding: 19px 20px 2px;}
      }
   }
   &__title {
      font-weight: 600;
      font-size: em(21);
      padding-bottom: .3em;
      padding-top: .3em;
   }
   &__inner  {
      padding: 26px 32px;
      overflow-y: auto;
      max-height: calc(94vh - 219px);
      width: 100%;
      max-width: 660px;
      margin: 2px auto;
      scrollbar-width: thin;
      @media(max-width: 550px){
         padding: 20px;
      }
   }
}
.ol {
   counter-reset: list1;
   list-style-type: decimal
}
.ol li {
   list-style-type: none;
   margin-bottom: 11px;
   position: relative;
}
.ol li:before {
   counter-increment: list1;
   content: counter(list1) ". ";
}
.ol ol {
   counter-reset: list2;
   padding: 10px 0 8px 55px;
}
.ol ol li:before {
   position: absolute;
   top: 0;
   left: -35px;
   counter-increment: list2;
   content: counter(list1) "."counter(list2) ". ";
}
.btn.btn--right {
   font-size: em(14);
   width: auto;
   min-width: 130px;
   float: right;
   margin: 30px 30px 8px auto;
   padding: 13px 11px;
   @media(max-width: 550px){
      margin: 20px 20px 0px auto;
   }
}
.opened--popup {
   max-height: 100vh;
   overflow: hidden;
}
@media(max-width: 550px){
   .ol ol { padding: 8px 0 6px 49px;}
}