.overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   flex-flow: column wrap;
   align-items: center;
   background: #f7f7f8;
   padding: 130px 0 140px;
   z-index: 99;
}
.preloader {
   display: flex;
   justify-content: space-between;
   width: 160px;
   height: 100px;
   @media(max-width: 767px){
      width: 114px;
   }
   }
.sq {
   position: relative;
   display: block;
   height: 72px;
   width: 24px;
   border-radius: 12px;
   animation-name: preloader;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   @media(max-width: 767px){
      height: 56px;
      width: 16px;
   }
}
.sq:nth-child(1) {
   background: #0475BE;
}
.sq:nth-child(2) {
   background: #1787C9;
   animation-delay: .35s
}
.sq:nth-child(3) {
   background: #2B9AD2;
   animation-delay: .7s
}
.sq:nth-child(4) {
   background: #3DA9DC;
   animation-delay: 1.05s
}
.sq:nth-child(5) {
   background: #4DB5E4;
   animation-delay: 1.4s
}
@keyframes preloader {
   0% {transform: translateY(0px)}
   50% {transform: translateY(20px)}
   100% {transform: translateY(0px)}
}
.preloader__text {
   margin: 2em 0;
   color: #2A97D2;
   font-family: $ff;
   font-size: em(24);
   max-width: 820px;
   text-align: center;
   line-height: 1.5;
   @media(max-width: 991px){
      padding: 0 16px;
      font-size: em(22);
   }
   @media(max-width: 550px){
     font-size: 1.1em;
   }
   @media(max-width: 360px){
      font-size: 1em;
   }
}