@media(max-width: 1200px){
   body{font-size: 16px;}
}
@media(max-width: 991px){
   .form__input,.selectric{
      height: 50px;
      border-width: 1px;
   }
   .form__field > span {
      font-size: 1em;
   }
   .ad {padding: 20px 0;}

   .ad__title{margin-bottom: 1.4em;}

   .selectric .label{line-height: 40px;}

   .selectric-items {border-width: 1px;}
}
@media(max-width: 670px){
   .wrapper {
      padding-top: 10px;
      padding-bottom: 132px;
   }
   .d-flex {flex-wrap: wrap;}
}
@media(max-width: 550px){
   .wrapper{padding-bottom: 88px;}
   .footer{bottom: 13px;}
   .title {font-size: 1.6em;}
   .overlay{padding: 90px 0;}
}
@media(max-width: 380px){
   .title {font-size: 1.4em;}
   .footer__copy{padding: 6px 0 10px;}
   .form__input,.selectric{ height: 46px; }
   .selectric .label { line-height: 36px;}
   .selectric .button {
      width: 38px;
      height: 46px;
      background-size: 10px;
   }
}

