<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <style>
      body {
         font-family: Arial,sans-serif;
         font-size: 14px;
         line-height: 1.56;
         color: #67737D;
         background: #ffffff;
         margin: 0;
         padding: 0;
      }
      img {
         max-width: 100%;
         height: auto;
      }
      .wrapper{
         width: 100%;
         max-width: 610px;
         margin: auto;
         padding: 10px 15px;
      }
      .center {text-align: center;}

      .hr {
         border-top: 1px solid #C9D1D5;
         margin-bottom: 20px;
      }

      .box {
         background: #FFFFFF;
         padding: 15px 2px 15px;
      }
      .logo {
         margin: 20px auto 10px;
      }
      h1 {line-height: 1.1;}

      .title {
         font-weight: normal;
         color: #475058;
         font-size: 28px;
         margin: 47px 0 33px;
      }

      p {
         margin-top: 0;
         margin-bottom: 25px;
      }
      .btn {
         display: block;
         text-decoration: none;
      }
      .text-decoration {
         color: inherit;
         text-decoration: underline;
      }
      .footer {
         font-size: 12px;
         padding: 28px 34px 22px;
         border-radius: 8px;
         background: #475058;
         color: #74828D;
      }
      .footer img {margin-bottom: 15px;}

      .footer p {margin-bottom: 5px;}

      .grey-box {
         background: #EFF0F1;
         border-radius: 8px;
         padding: 24px 20px;
         margin-top: 12px;
         margin-bottom: 22px;
      }
      .text-bold {
         display: block;
         text-align: center;
         color: #475058;
         letter-spacing: 0.1px;
         font-size: 18px;
         font-weight: 400;
         max-width: 500px;
         margin: 0 auto 22px;
         line-height: 1.8;
      }
   </style>
</head>
<body>
   <div class="wrapper">
      <div class="box">
         <div class="logo"><img src="img/logo-small.png" alt="logo"></div>
         <div class="hr"></div>
         <h1 class="title">Continue your loan search</h1>
         <div>
            <p>Hi Name</p>
            <p>You were declined for a loan by (LENDER). They sent us your application to see if we can help.</p>
            <p>We’re a safe and secure online loans network that searches a panel of lenders to try and find you a loan. You wont need to fill out another application form, we can begin the search with a click of a button. We’re free to use and you can get a decision in under a minute.</p>
         </div>
      </div>
      <div class="grey-box center">
         <b class="text-bold">Click the button below to continue your loan search. Lenders&nbsp;are&nbsp;waiting.</b>
         <a href="#" class="btn">
            <img src="img/button.png" alt="button">
         </a>
      </div>
      <div class="box">
         <p>Thanks, <br/>Overflow Team</p>
      </div>

      <div class="footer">
         <img src="img/logo-footer.png" alt="logo footer">
         <p>If you'd like to stop receiving emails from us, please&nbsp;<a class="text-decoration" href="{{UnsubscribeUrl}}">unsubscribe</a></p>
         <p>All Rights Reserved | © 2019 Market Overflow</p>
      </div>
   </div>
</body>
</html>