<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <style>
      body {
         font-family: Arial,sans-serif;
         font-size: 14px;
         line-height: 1.74;
         color: #67737D;
         background: #f7f7f8;
         margin: 0;
         padding: 0;
      }
      img {
         max-width: 100%;
         height: auto;
      }
      .wrapper{
         width: 100%;
         max-width: 600px;
         margin: auto;
         padding: 20px 0;
      }
      .center {text-align: center;}

      .box {
         background: #FFFFFF;
         border-radius: 12px;
         padding: 64px 8% 35px;
         box-shadow: 0 8px 32px rgba(5, 41, 72, 0.05);
      }
      .logo {
         margin: 20px auto 56px;
      }
      .title {
         font-weight: normal;
         color: #475058;
         font-size: 24px;
         margin: 50px 0 50px;
         text-align: center;
      }
      h1 {line-height: 1.1;}

      p {
         margin-top: 0;
         margin-bottom: 24px;
      }
      .py-20 {
         padding-top: 20px;
         padding-bottom: 20px;
      }
      .py-13 {
         padding-top: 13px;
         padding-bottom: 13px;
      }
      .pt-20 {padding-top: 20px;}

      .btn {
         display: block;
         text-decoration: none;
      }
      .text-decoration {
         color: inherit;
         text-decoration: underline;
      }
      .footer {
         font-size: 12px;
         margin-top: 28px;
         padding: 31px 8% 25px;
         border-radius: 12px;
         background: #475058;
         color: #74828D;
      }
      .footer img {margin-bottom: 15px;}

      .footer p {margin-bottom: 5px;}
   </style>
</head>
<body>
   <div class="wrapper">
      <div class="box">
         <div class="center">
            <div class="logo"><img src="img/logo-big.png" alt="owerflow logo"></div>
            <h1 class="title">Continue your loan search</h1>
         </div>
         <div>
            <p>Hi Name</p>
            <p>You were declined for a loan by (LENDER). They sent us your application to see if we can help.</p>
            <p>We’re a safe and secure online loans network that searches a panel of lenders to try and find you a loan. You wont need to fill out another application form, we can begin the search with a click of a button. We’re free to use and you can get a decision in under a minute.</p>
            <p>Click the button below to continue your loan search. Lenders are waiting.</p>
         </div>
         <div class="py-13 center">
            <a href="#" class="btn">
               <img src="img/button.png" alt="button">
            </a>
         </div>
         <div class="pt-20">
            <p>Thanks, <br/>Overflow Team</p>
         </div>
      </div>

      <div class="footer">
         <div class="center">
            <img src="img/logo-footer.png" alt="logo footer">
            <p>If you'd like to stop receiving emails from us, please&nbsp;<a class="text-decoration" href="{{UnsubscribeUrl}}">unsubscribe</a></p>
            <p>All Rights Reserved | © 2019 Market Overflow</p>
         </div>
      </div>
   </div>
</body>
</html>