<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body style="background: #f7f7f8; color: #67737D; font-family: Arial,sans-serif; font-size: 14px; line-height: 1.74; margin: 0; padding: 0;">
  <style></style>
  <div class="wrapper" style="margin: auto; max-width: 600px; padding: 20px 0; width: 100%;">
    <div class="box" style="background: #FFFFFF; border-radius: 12px; box-shadow: 0 8px 32px rgba(5,41,72,0.05); padding: 64px 8% 35px;">
      <div class="center" style="text-align: center;">
        <div class="logo" style="margin: 20px auto 56px;"><img src="img/logo-big.png" alt="owerflow logo" style="height: auto; max-width: 100%;"></div>
        <h1 class="title" style="color: #475058; font-size: 24px; font-weight: normal; line-height: 1.1; margin: 50px 0 50px; text-align: center;">Continue your loan search</h1>
      </div>
      <div>
        <p style="margin-bottom: 24px; margin-top: 0;">Hi Name</p>
        <p style="margin-bottom: 24px; margin-top: 0;">You were declined for a loan by (LENDER). They sent us your application to see if we can help.</p>
        <p style="margin-bottom: 24px; margin-top: 0;">We’re a safe and secure online loans network that searches a panel of lenders to try and find you a loan. You wont need to fill out another application form, we can begin the search with a click of a button. We’re free to use and you can get a
          decision in under a minute.</p>
        <p style="margin-bottom: 24px; margin-top: 0;">Click the button below to continue your loan search. Lenders are waiting.</p>
      </div>
      <div class="py-13 center" style="padding-bottom: 13px; padding-top: 13px; text-align: center;">
        <a href="#" class="btn" style="display: block; text-decoration: none;">
          <img src="img/button.png" alt="button" style="height: auto; max-width: 100%;">
        </a>
      </div>
      <div class="pt-20" style="padding-top: 20px;">
        <p style="margin-bottom: 24px; margin-top: 0;">Thanks, <br>Overflow Team</p>
      </div>
    </div>

    <div class="footer" style="background: #475058; border-radius: 12px; color: #74828D; font-size: 12px; margin-top: 28px; padding: 31px 8% 25px;">
      <div class="center" style="text-align: center;">
        <img src="img/logo-footer.png" alt="logo footer" style="height: auto; margin-bottom: 15px; max-width: 100%;">
        <p style="margin-bottom: 5px; margin-top: 0;">If you'd like to stop receiving emails from us, please&nbsp;<a class="text-decoration" href="{{UnsubscribeUrl}}" style="color: inherit; text-decoration: underline;">unsubscribe</a></p>
        <p style="margin-bottom: 5px; margin-top: 0;">All Rights Reserved | © 2019 Market Overflow</p>
      </div>
    </div>
  </div>

</body>

</html>