<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body style="background: #ffffff; color: #67737D; font-family: Arial,sans-serif; font-size: 16px; line-height: 1.56; margin: 0; padding: 0;">
  <style></style>
  <div class="wrapper" style="margin: auto; max-width: 610px; padding: 10px 15px; width: 100%;">
    <div class="box" style="background: #FFFFFF; padding: 20px 2px 20px;">
      <div class="hr" style="border-top: 2px solid #C9D1D5; margin-bottom: 20px;"></div>
      <h1 class="title--lg" style="color: #0071BC; font-size: 35px; font-weight: normal; line-height: 1.1; margin: 26px 0 50px;">Continue your loan search</h1>
      <div>
        <p style="margin-bottom: 24px; margin-top: 0;">Hi Name</p>
        <p style="margin-bottom: 24px; margin-top: 0;">You were declined for a loan by (LENDER). They sent us your application to see if we can help.</p>
        <p style="margin-bottom: 24px; margin-top: 0;">We’re a safe and secure online loans network that searches a panel of lenders to try and find you a loan. You wont need to fill out another application form, we can begin the search with a click of a button. We’re free to use and you can get a
          decision in under a minute.</p>
      </div>
    </div>
    <div class="grey-box center" style="background: #EFF0F1; border-radius: 8px; margin-bottom: 14px; padding: 24px 20px; text-align: center;">
      <b class="text-bold" style="color: #475058; display: block; font-size: 18px; font-weight: 400; letter-spacing: 0.1px; line-height: 1.8; margin: 0 auto 22px; max-width: 500px; text-align: center;">Click the button below to continue your loan search. Lenders&nbsp;are&nbsp;waiting.</b>
      <a href="#" class="btn" style="display: block; text-decoration: none;">
        <img src="img/button.png" alt="button" style="height: auto; max-width: 100%;">
      </a>
    </div>
    <div class="box" style="background: #FFFFFF; padding: 20px 2px 20px;">
      <p style="margin-bottom: 24px; margin-top: 0;">Thanks, <br>Overflow Team</p>
    </div>

    <div class="footer" style="background: #475058; border-radius: 8px; color: #74828D; font-size: 12px; margin-top: 2px; padding: 28px 8% 25px;">
      <div class="center" style="text-align: center;">
        <img src="img/logo-footer.png" alt="logo footer" style="height: auto; margin-bottom: 15px; max-width: 100%;">
        <p style="margin-bottom: 5px; margin-top: 0;">If you'd like to stop receiving emails from us, please&nbsp;<a class="text-decoration" href="{{UnsubscribeUrl}}" style="color: inherit; text-decoration: underline;">unsubscribe</a></p>
        <p style="margin-bottom: 5px; margin-top: 0;">All Rights Reserved | © 2019 Market Overflow</p>
      </div>
    </div>
  </div>

</body>

</html>