<div class="popup" id="popup-terms">
   <div class="popup__body">
      <div class="popup__title-box">
         <div class="popup__title">Terms & Conditions</div>
         <p>Last update: 7th November 2017</p>
      </div>
      <div class="popup__inner">
         <ol class="ol">
            <li>Lorem Ipsum
               <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. </li>
                  <li>Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla.</li>
               </ol>
            </li>
            <li>Lorem Ipsum
               <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla.</li>
               </ol>
            </li>
            <li>Lorem Ipsum
               <ol>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla.</li>
               </ol>
            </li>
            <li>Lorem Ipsum
               <ol>
                  <li>Habitant morbi tristique senectus et netus et malesuada. Quisque egestas diam in arcu cursus. Ornare arcu odio ut sem nulla.</li>
               </ol>
            </li>
         </ol>
      </div>
      <button class="btn btn--right" data-popup-close>Close</button>
   </div>
</div>